/*

 SCSS Name: Fleava Test
 Description: This stylesheet for Fleava Application Test
 Author: Dewa Alit

*/

$flo: 'Florencesans';
$blue: #007bff;
$white: #fff;
%transitionFive{
	transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
}
%transitionThree{
	transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}
%displayFlex{
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
}
@mixin transform-translate($x, $y) {
  	transform: translate($x,$y);
    -webkit-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
}
@mixin top-left($vtop, $vleft) {
	top: $vtop;
	left: $vleft;
}
@mixin bottom-left($vbottom, $vleftt) {
	bottom: $vbottom;
	left: $vleftt;
}
/* Remove Left & Right Space in Row element */
.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
/* Custom Font */
@font-face {
    font-family: 'Florencesans';
    src: url('fonts/Florencesans.eot');
    src: url('fonts/Florencesans.eot?#iefix') format('embedded-opentype'),
        url('fonts/Florencesans.woff2') format('woff2'),
        url('fonts/Florencesans.woff') format('woff'),
        url('fonts/Florencesans.svg#Florencesans') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Remove the decoration in all links */
a:link, a:hover, a:active, a:visited{
	text-decoration: none !important;
}
/* Remove Outline */
button:focus, button:active, button:visited, button:hover, button:focus-within,
.footer-form input[type="text"]:focus, 
.footer-form input[type="text"]:visited, 
.footer-form input[type="text"]:active, 
.footer-form input[type="text"]:hover,  
.footer-form input[type="text"]:active
{
	outline: unset !important;
}
/* Navbar */
.top-navbar{
	min-height: 80px;
    padding: 10px;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 9;
    @extend %transitionFive;
    .top-container{
		@extend %displayFlex;
	    flex-wrap: wrap;
	    width: 100%;
	    padding: 0 25px;
	}
	.logo{
		padding: 20px 0;
		img{
			width: 100px;
		}
	}
	.menu{
		flex: 1;
		ul{
			list-style: none;
		    padding-left: 0;
		    display: inline-block;
		    float: right;
		    padding: 20px 0;
		    margin-bottom: 0;
		    li{
				display: inline-block;
			    font-family: $flo;
			    font-size: 14px;
			    border: 2px solid transparent;
			    padding: 5px 15px;
			    text-transform: uppercase;
			    @extend %transitionThree;
			    cursor: pointer;
			    a, a:hover{
				    color: $white;
				}
			}
			li:hover, li.active{
				border: 2px solid $white !important;
			}
		}
	}
}
/* Class for navbar when it scrolled */
.scrolled{
	background: rgba(0,0,0,0.7);
}
/* Fullscreen Header */
.full-header{
	background: url(media/background-bw.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    position: relative;
    .header-content-container{
	    position: absolute;
	    width: 100%;
	    @include top-left(50%,50%);
	    @include transform-translate(-50%,-50%);
	    .header-content-wrapper{
			width: 66.66667%;
		    margin: 0 auto;
		    text-align: left;
		    .header-content{
				margin-bottom: 35px;
				span{
				    display: block;
				    font-size: 6em;
				    font-family: $flo;
				    font-weight: bold;
				    text-transform: uppercase;
				    line-height: normal;
				    letter-spacing: 20px;
				    color: $white;
				}	
			}
			a.header-btn{
				display: inline-block;
				font-family: $flo;
				background: $blue;
				padding: 10px 25px;
				font-size: 15px;
				text-transform: uppercase;
				color: $white;
				@extend %transitionThree;
			}
			a.header-btn:hover {
				color: #037aff;
				background: $white;
				@extend %transitionThree;
			}
		}
	
	}
	.scroll-bottom-wrapper{
		position: absolute;
	    width: 100%;
	    @include bottom-left(0,50%);
	    @include transform-translate(-50%,0);
	    .scroll-bottom{
			width: 66.66667%;
		    display: block;
		    margin: 0 auto;
		    i{
				font-size: 50px;
			    color: $white;
			}
		}
	}
}
/* Intro Text Section */
.intro-text .intro-wrapper{
    padding: 60px 0;
    h1{
		font-family: $flo;
	    font-size: 5em;
	    font-weight: 800;
	    text-transform: uppercase;
	    line-height: normal;
	    letter-spacing: 10px;
	    margin-bottom: 35px;
	}
	p{
	    font-size: 16px;
	    line-height: 28px;
	}
}
/* Carousel Section */
.carousel-section{
	position: relative;
	margin-bottom: 90px;
	.carousel-image{
	    position: absolute !important;
	    @include top-left(55%,50%);
	    @include transform-translate(-50%,-50%);
	    .owl-item{
			border: unset !important;
			img {
			    display: block;
			    height: 350px;
			    object-fit: cover;
			}
		}
		.owl-dots{
		    margin-top: 25px !important;
		    button.active{
			    border: unset !important;
			}
		    span{
			    color: $white;
			}
			.owl-dot.active span, .owl-dot:hover span {
			    background: $white !important;
			    width: 13px;
			    height: 13px;
			}
		}
	}
	.carousel-wrapper{
	    background: #037aff;
	    min-height: 500px;
	    border-radius: 10px;
	}
}
/* Twitter Section */
.twitter-section{
	background-color: #037aff;
    min-height: 335px;
    margin-bottom: 90px;
    .twitter-container{
		position: relative;
		.twitter-wrapper{
		    position: absolute;
		    @include top-left(45%,0);
		    @include transform-translate(0,-45%);
		    .twitter-icon{
				margin-bottom: 15px;
			    display: block;
			    i{
				    color: $white;
				    font-size: 2em;
				}
			}
			.twitter-text{
				font-size: 24px;
			    margin-bottom: 25px;
			    font-weight: 600;
			    color: $white;
			}
			.twitter-btn{
				color: $white;
			    padding: 15px 30px;
			    background-color: #333;
			    text-transform: uppercase;
			    font-size: 12px;
			    font-weight: bold;
			    font-family: $flo;
			    @extend %transitionThree;
			}
			.twitter-btn:hover{
				background: $white;
			    color: #333;
			}
		}
	}
}
/* 3 Boxes Section */
.box-section{
	margin-bottom: 90px;
	.box-wrapper{
		padding: 0 !important;
		.box-image{
		    width: 100%;
		    height: 200px;
		    object-fit: cover;
		}
		figcaption{
		    text-align: center;
		    margin-top: 15px;
		    font-weight: bold;
		    font-size: 11px;
		}
		.box-title {
		    text-align: center !important;
		    font-weight: bold;
		    margin-bottom: 25px;
		    display: block;
		    font-size: 24px;
		}
		.box-description{
		    text-align: center;
		    font-size: 16px;
		    margin-bottom: 0;
		}
	}
}
/* Footer */
footer{
    background: #000;
	color: $white;
	padding: 90px 0;
	.footer-top{
		margin-bottom: 30px;
		.footer-logo {
		    width: 100px;
		    margin-bottom: 15px;
		}
		.footer-text{
			font-weight: 300;
		}
		.footer-title {
		    margin-bottom: 15px;
		    display: block;
		    text-transform: uppercase;
		    font-weight: bold;
		}
		.footer-list{
		    padding-left: 0;
		    list-style-position: inside;
		    list-style-type: none;
		    a{
			    color: $white;
			}
			a:hover{
				color: #037aff;
			}
		}
	}
	.footer-form{
		border-bottom: 1px solid #444;
	    padding-bottom: 5px;
	    display: inline-block;
	    input[type="text"]{
		    border: unset;
		    background: none;
		    padding-right: 35px;
		    color: $white;
		}
		button[type="submit"]{
			border: unset;
		    background: none;
		    color: $white;
		}
		button[type="submit"]:hover {
		    color: #037aff;
		    cursor: pointer;
		}
	}
}










